@model IEnumerable<Interfaces.Entities.ProductType>

@{
  ViewBag.Title = "Types of ";
}

<h2>Product Types</h2>

<p>
  @Html.ActionLink("Create New", "CreateType", new { categoryId = Request.QueryString["categoryId"] })
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.ActionLink(item.Name, "Index", "Products", new { typeId = item.Id, typeName = item.Name }, null)
      </td>
      <td></td>
    </tr>
  }

</table>
